body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 50px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    width: 70vw;
}

h1 {
    margin-bottom: 20px;
    font-size: 52px;
}

#compliment {
    font-size: 42px;
    margin-bottom: 20px;
}

button {
    margin-top: 40px;
    padding: 40px 20px;
    border: none;
    border-radius: 10px;
    background: #ff6b81;
    color: white;
    font-size: 42px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ff4757;
}
